# Compiled class file
a.out
*.class
*.pyc
*.apk

# Log file
*.log
#.run.log
#.last_tmp.py

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# General
Thumbs.db
#nl.sh

# General extensions
*.c~
*.cpp~
*.java~
*.php.swp
*.php~
*.js~
*.css~
*.less~
*.html~
*.htm~
*.htaccess~
*~
*._.DS_Store

# Git
*.orig

# Editors
nbproject
*.iml
.idea
.project
.classpath
.settings

# Development specific files
/temp/*

